#main{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
#mainheading{
    text-align: center;
    color:  #8A2BE2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#image{
    text-align: center;
    height: 170px;
    width: 500px;
}
legend{
    background-color: #8A2BE2;
    color: white;
    padding: 10px;
    max-width: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-height: 110%;
    margin: auto;
}
tr td{
    padding: 7px;
}
.course{
    padding: 0;
}
#thank{
    width: 200px;
    height: 200px;
}
.thankclass{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}
.submit{
    text-align: center;
}
.succes{
    font-size: 30px;
    color: rgb(150, 20, 224);
    font-weight: bold;
}
